/**
  Нормализация блочной модели
 */
*, *::before, *::after {
    box-sizing: border-box;
}


body {
    margin: 0;
}

/*
Упрощаем работу с изображением и видео
*/
img, video {
    display: block;
    max-width: 100%;
    height: auto;
}

:root {

    --color-light: #ffffff;
    --color-light-gray: #EEEEEE;
    --color-light-alternate: #E6E6E6;
    --color-dark: #000000;
    --color-dark-alternate: #191919;
    --color-dark-gray: #353535;
    --color-light-yellow: #F4DF74;


    --container-width: 1130px;
    --container-padding-x: 37px;

    --font-family-Inter: 'Inter', sans-serif;
    --font-family-Archivo-Regular: 'Archivo-Regular', sans-serif;
    --font-family-Archivo-Bold: 'Archivo-Bold', sans-serif;

}

body {
    font-family: var(--font-family-Inter), sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-dark);
    background-color: var(--color-light);
    line-height: 150%;
}

a {
    text-decoration: none;
    color: var(--color-light);
    font-style: normal;
}

li {
    list-style: none;
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.container-wide {
    max-width: 1920px;
    margin-inline: auto;
}


.title--big {
    font-family: var(--font-family-Archivo-Bold), sans-serif;
    line-height: 110%;
    font-weight: 800;
    font-size: clamp(24px, 4.26vw, 48px);
    text-align: center;
    color: var(--color-dark-alternate);
}

.title-medium {
    font-family: var(--font-family-Archivo-Bold), sans-serif;
    line-height: 120%;
    font-weight: 800;
    font-size: 24px;
    color: var(--color-light);
}

.title--banner {
    color: var(--color-light);
    font-family: var(--font-family-Archivo-Bold), sans-serif;
    font-size: 24px;
    line-height: 120%;
    font-weight: 800;
    text-align: center;
}

.text-xs {
    font-family: inherit;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 1px;
    color: var(--color-light);
}

.title-xs {
    font-family: var(--font-family-Archivo-Bold), sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 1px;
    color: var(--color-light);
}

.title-s {
    font-family: var(--font-family-Archivo-Bold), sans-serif;
    font-weight: 800;
    font-size: 25px;
    line-height: 120%;
    letter-spacing: 1px;
    color: var(--color-light);
    text-transform: uppercase;
}

.text-s {
    font-family: inherit;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    color: var(--color-light);
}


.collaboration__content {
    display: flex;
    flex-wrap: wrap;
    gap: 34px 37px;
}

.collaboration__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collaboration__header:not(:last-child) {
    margin-bottom: 110px;
}

.collaboration__title, .collaboration__description {
    color: var(--color-light);
}

.collaboration__title:not(:last-child) {
    margin-bottom: 40px;
}


.collaboration__image {
    width: 100%;
    max-width: 351px;
    height: 351px;
    object-fit: cover;
}