* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --color-light: #ffffff;
    --color-light-gray: #EEEEEE;
    --color-light-alternate: #E6E6E6;
    --color-dark: #000000;
    --color-dark-alternate: #191919;
    --color-dark-gray: #353535;
    --color-light-yellow: #F4DF74;


    --container-width: 1130px;
    --container-padding-x: 397px;

    --font-famyly-Inter-regular: 'Inter', sans-serif;
    --font-famyly-Montserrat-Regular: 'Montserrat-Regular', sans-serif;
    --font-famyly-Montserrat-Bold: 'Montserrat-Bold', sans-serif;

}

body {
    font-family: var(--font-famyly-Inter-regular), sans-serif;
    font-size: 16px;
    color: var(--color-light);
    background-color: var(--color-light);

}

a {
    text-decoration: none;
    color: var(--color-light);
    font-style: normal;
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
}

.container-wide {
    max-width: 1920px;
    margin-inline: auto;
}

.title-medium {
    font-family: var(--font-famyly-Montserrat-Regular), sans-serif;
    line-height: 1.3;
    font-weight: 400;
}

.title-big {
    font-family: var(--font-famyly-Montserrat-Bold), sans-serif;
    text-transform: uppercase;
    line-height: 1.3;
    font-weight: 800;
}

