* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --color-light: #ffffff;
    --color-light-gray: #EEEEEE;
    --color-light-alternate: #E6E6E6;
    --color-dark: #000000;
    --color-dark-alternate: #191919;
    --color-dark-gray: #353535;
    --color-light-yellow: #F4DF74;


    --container-width: 1130px;
    --container-padding-x: 37px;

    --font-family-Inter: 'Inter', sans-serif;
    --font-family-Archivo-Regular: 'Archivo-Regular', sans-serif;
   --font-family-Archivo-Bold: 'Archivo-Bold', sans-serif;

}

body {
    font-family: var(--font-family-Inter), sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-dark);
    background-color: var(--color-light);
    line-height: 150%;
}

a {
    text-decoration: none;
    color: var(--color-light);
    font-style: normal;
}

li {
    list-style: none;
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.container-wide {
    max-width: 1920px;
    margin-inline: auto;
}


.title--big {
    font-family: var(--font-family-Archivo-Bold), sans-serif;
    line-height: 110%;
    font-weight: 800;
    font-size: 48px;
    text-align: center;
}

.title--banner {
    color: var(--color-light);
    font-family: var(--font-family-Archivo-Bold), sans-serif;
    font-size: 24px;
    line-height: 120%;
    font-weight: 800;
    text-align: center;
}

