/* Header */
.header {
    position: relative;

}

.header-container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-block: 30px;
    z-index: 10;
    color: var(--color-light);
}

.header-contact,
.header-logo {
    display: flex;
    flex-direction: column;
}

.header-logo {
    align-items: center;
}

.header-logo__subtitle.text-s {
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Banner */
.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../image/background.jpg") center/cover no-repeat;
    width: 100%;
    height: 677px;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-dark);
    opacity: 0.5;
    z-index: 0;
}

.banner-content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 20px;
    color: var(--color-light);
}

.banner-content__title {
    font-family: var(--font-family-Archivo-Bold), sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: clamp(35px, 4vw, 60px);
    line-height: 120%;
}

.banner-content__button {
    font-family: var(--font-family-Archivo-Bold), sans-serif;
    font-weight: 800;
    background-color: var(--color-light-yellow);
    border-radius: 10px;
    border: none;
    font-size: 16px;
    padding: 22px 36px;
    color: var(--color-dark-gray);
}

/* Merchandiser */
.merchandiser {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    margin-bottom: 292px;
}

.merchandiser__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.merchandiser-title {
    font-family: var(--font-family-Archivo-Bold), sans-serif;
    font-weight: 800;
    position: relative;
    max-width: 794px;
    font-size: 48px;
    color: var(--color-dark-alternate);
    line-height: 120%;
    letter-spacing: 1px;
    margin-bottom: 45px;
}

.merchandiser-description {
    font-family: var(--font-family-Inter), sans-serif;
    font-weight: 400;
    max-width: 700px;
    line-height: 150%;
    letter-spacing: 1px;
    color: #1A1A1A;
}

.merchandiser__wrapper {
    margin-top: 78px;
}

.merchandiser__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 38px;
}

.merchandiser__image {
    aspect-ratio: 1;
    border-radius: 4px;
    object-fit: cover;
}

.merchandiser__title {
    font-family: var(--font-family-Archivo-Regular), sans-serif;
    font-weight: 400;
    font-size: clamp(16px, 2.34vw, 24px);
    letter-spacing: 1px;
    line-height: 120%;
    margin-top: 17px;
    position: relative;
}

.merchandiser__title::after {
    content: attr(data-title);
    position: absolute;
    font-size: clamp(12px, 1.75vw, 18px);
    line-height: 120%;
    margin-left: 11px;
}

/* Production */
.production {
    background-color: var(--color-light-gray);
    height: auto;
}

.production__video-wrapper {
    position: relative;
    width: 100%;
    height: 350px;
    transform: translateY(-50%);
    border-radius: 15px;
    overflow: hidden;
}

.production__video-file {
    position: relative;
    width: 100%;
    height: 100%;
}

.production__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-dark);
    opacity: 0.3;
    z-index: 0;
}

.process__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-dark);
    opacity: 0.7;
    z-index: 0;
}

.production__video-title {
    font-family: var(--font-family-Archivo-Bold), sans-serif;
    font-weight: 800;
    max-width: 384px;
    position: absolute;
    top: 25%;
    left: 50%;
    translate: -50% -50%;
    z-index: 2;
}

.production__video-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60%;
    left: 50%;
    translate: -50% -50%;
    background-color: rgba(255, 255, 255, 0.3);
    width: 105px;
    aspect-ratio: 1;
    border: none;
    border-radius: 50%;
    z-index: 2;
}

.production__content {
    display: flex;
    flex-direction: column;
}

.production__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.production__title {
    font-family: var(--font-family-Archivo-Bold), sans-serif;
    font-weight: 800;
    text-align: center;
    max-width: 656px;
    line-height: 110%;
    transform: translateY(-25%);
    margin-bottom: 10px;
}

.production__description {
    font-family: var(--font-family-Inter), sans-serif;
    font-weight: 400;
    max-width: 700px;
    text-align: center;
    line-height: 150%;

}

.production__wrapper {
    display: flex;
    flex-direction: column;
}

.production__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    margin-bottom: 131px;
}

.production__card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.production__card-image {
    width: 100%;
    height: 211px;
    max-width: 351px;
    border-radius: 6px;
    margin-bottom: 34px;
}

.production__card-title {
    font-family: var(--font-family-Archivo-Bold), sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    max-width: 206px;
}

.production__card-description {
    font-family: var(--font-family-Inter), sans-serif;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
}

/* Prints */
.prints {
    margin-top: 98px;
    margin-bottom: 300px;
}

.prints__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prints__title {
    text-align: center;
    max-width: 738px;
}

.prints__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 37px;
}

.prints__card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prints__card-image {
    width: 100%;
    max-width: 545px;
    height: 316px;
    border-radius: 6px;
    margin-bottom: 40px;
}

.prints__card-title {
    font-family: var(--font-family-Archivo-Bold), sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 23px;
}

.prints__card-description {
    font-family: var(--font-family-Inter), sans-serif;
    font-weight: 400;
    text-align: center;
    max-width: 540px;
    line-height: 150%;
}

/* Process */
.process {
    background-color: var(--color-dark-alternate);
}

.process__content-wrapper {
    position: relative;
    width: 100%;
    height: 350px;
    transform: translateY(-50%);
    border-radius: 15px;
    overflow: hidden;
}

.process__images {
    background-color: var(--color-dark-alternate);
}


.process__image {
    display: inline;
    object-fit: cover;
}

.process__content-title {
    font-family: var(--font-family-Archivo-Bold), sans-serif;
    font-weight: 800;
    position: absolute;
    top: 35%;
    left: 50%;
    translate: -50% -50%;
    z-index: 2;
    width: 100%;
    max-width: 540px;
    margin-bottom: 25px;
}

.process__content-description {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    translate: -50% -50%;
    z-index: 2;
    color: var(--color-light);
    line-height: 150%;
    width: 100%;
    max-width: 680px;
}

.process__title.title--big {
    color: var(--color-light);
}

.process__title:not(:last-child) {
    margin-bottom: 36px;
}

.process__description {
    color: var(--color-light);
    text-align: center;
}

.process__header:not(:last-child) {
    margin-bottom: 56px;
}

.process__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.process__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
}

.process__card-icon {
    position: relative;
    z-index: 1;
    margin-bottom: 32px;
}

.process__card-icon::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: #222222;
    width: 114px;
    height: 114px;
    border-radius: 50%;
    z-index: -1;
}

.process__card-description {
    text-align: center;
    max-width: 160px;
    color: var(--color-light);
}

.we-sew {
    margin-top: 125px;
    margin-bottom: 341px;
}

.we-sew__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.we-sew__title:not(:last-child) {
    margin-bottom: 73px;
}

.we-sew__description {
    text-align: center;
    max-width: 655px;
}

.we-sew__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 36px;
}

.we-sew__image {
    aspect-ratio: 1/1;
    object-fit: cover;
}

/* SHOP */

.shop {
    background-color: #1A1A1A;
}

.shop__wrapper {
    transform: translateY(-25%);
    max-width: 1125px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--color-light-alternate);
    height: 853px;
    border-radius: 15px;
}

.shop__header {
    padding: 83px 152px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop__title:not(:last-child) {
    margin-bottom: 35px;
}

.shop__title {
    width: 100%;
    max-width: 800px;
    text-align: center;
}

.shop__description {
    width: 100%;
    max-width: 570px;
    text-align: center;
}

.shop__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.shop__list {
    position: relative;
}

.shop__list:first-child .shop__image {
    border-radius: 0 0 0 15px; /* нижний левый  */
}

.shop__list:last-child .shop__image {
    border-radius: 0 0 15px 0; /* нижний правый */
}

.shop__image {
    width: 100%;
    max-width: 563px;
    height: 472px;
    object-fit: cover;
}

.shop__address {
    position: absolute;
    bottom: 10%;
    margin-left: 31px;
    font-style: normal;
}

.footer {
    background-color: var(--color-dark-alternate);
    max-width: 1127px;
    padding-top: 60px;

}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 34px;
}

.footer-contact, .footer-logo {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    align-items: center;
}

.footer-logo__title {
    font-family: var(--font-family-Archivo-Bold), sans-serif;
    font-weight: 800;
    font-size: 25px;
    line-height: 120%;
    letter-spacing: 1px;
}

.footer-logo__subtitle {
    font-family: inherit;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    color: var(--color-light);
}