.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-block: 30px;
    z-index: 10;
    color: var(--color-light);

}

.header-contact, .header-logo {
    display: flex;
    flex-direction: column;
}

.header-contact__callback, .header-contact__description, .header-contact__telephone, .header-contact__email {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 1px;
}

.header-logo__title {
    font-size: 25px;
    line-height: 120%;
    letter-spacing: 1px;
}

.header-logo__subtitle {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
}


.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../image/background.jpg") center/cover no-repeat;
    width: 100%;
    height: 677px;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 0; /* ниже контента */
}

.banner-content {
    position: relative;
    z-index: 1; /* поверх затемнения */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 20px;
}

.banner-content__title {
    max-width: 829px;
    text-align: center;
    font-family: var(--font-famyly-Montserrat-Bold), sans-serif;
    font-size: clamp(30px, 4vw, 60px);
    font-weight: 800;
}


.banner-content__button {
    background-color: var(--color-light-yellow);
    border-radius: 5px;
    border: none;
    font-size: 16px;
    padding: 22px 36px;
    color: var(--color-dark-gray);
    font-family: var(--font-famyly-Montserrat-Bold), sans-serif;
    font-weight: 800;
}

