/* Header */
.header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-block: 30px;
    z-index: 10;
    color: var(--color-light);
}

.header-contact,
.header-logo {
    display: flex;
    flex-direction: column;
}

.header-contact__callback, .header-contact__description, .header-contact__telephone, .header-contact__email {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 1px;
}

.header-contact__telephone, .header-contact__email {
    font-family: var(--font-family-Archivo-Bold), sans-serif;
    font-weight: 800;
}

.header-logo__title {
    font-family: var(--font-family-Archivo-Bold), sans-serif;
    font-weight: 800;
    font-size: 25px;
    line-height: 120%;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.header-logo__subtitle {
    font-family: var(--font-family-Archivo-Regular), sans-serif;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 3px;
    text-transform: uppercase;
}

/* Banner */
.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../image/background.jpg") center/cover no-repeat;
    width: 100%;
    height: 677px;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-dark);
    opacity: 0.5;
    z-index: 0;
}

.banner-content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 20px;
    color: var(--color-light);
}

.banner-content__title {
    font-family: var(--font-family-Archivo-Bold), sans-serif;
    font-weight: 800;
    max-width: 829px;
    text-align: center;
    font-size: clamp(30px, 4vw, 60px);
    line-height: 120%;
}

.banner-content__button {
    font-family: var(--font-family-Archivo-Bold), sans-serif;
    font-weight: 800;
    background-color: var(--color-light-yellow);
    border-radius: 5px;
    border: none;
    font-size: 16px;
    padding: 22px 36px;
    color: var(--color-dark-gray);
}

/* Merchandiser */
.merchandiser {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    margin-bottom: 292px;
}

.merchandiser-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.merchandiser-title {
    font-family: var(--font-family-Archivo-Bold), sans-serif;
    font-weight: 800;
    position: relative;
    max-width: 794px;
    font-size: 48px;
    color: var(--color-dark-alternate);
    line-height: 120%;
    letter-spacing: 1px;
    margin-bottom: 45px;
}

.merchandiser-description {
    font-family: var(--font-family-Inter), sans-serif;
    font-weight: 400;
    max-width: 700px;
    line-height: 150%;
    letter-spacing: 1px;
    color: #1A1A1A;
}

.merchandiser__wrapper {
    margin-top: 78px;
}

.merchandiser__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 38px;
}

.merchandiser__image {
    max-width: 350px;
    aspect-ratio: 1;
    border-radius: 4px;
    object-fit: cover;
}

.merchandiser__title {
    font-family: var(--font-family-Archivo-Regular), sans-serif;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 120%;
    margin-top: 17px;
    position: relative;
}

.merchandiser__title::after {
    content: attr(data-title);
    position: absolute;
    font-size: 18px;
    line-height: 120%;
    margin-left: 11px;
}

/* Production */
.production {
    background-color: var(--color-light-gray);
    height: 1211px;
}

.production__video-wrapper {
    position: relative;
    width: 100%;
    height: 350px;
    transform: translateY(-50%);
    border-radius: 15px;
    overflow: hidden;
}

.production__video-file {
    position: relative;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-dark);
    opacity: 0.3;
    z-index: 0;
}

.production__video-title {
    font-family: var(--font-family-Archivo-Bold), sans-serif;
    font-weight: 800;
    max-width: 384px;
    position: absolute;
    top: 25%;
    left: 50%;
    translate: -50% -50%;
    z-index: 2;
}

.production__video-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60%;
    left: 50%;
    translate: -50% -50%;
    background-color: rgba(255, 255, 255, 0.3);
    width: 105px;
    aspect-ratio: 1;
    border: none;
    border-radius: 50%;
    z-index: 2;
}

.production__content {
    display: flex;
    flex-direction: column;
}

.production__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.production__header:not(:last-child) {
    margin-bottom: 78px;

}

.production__title {
    font-family: var(--font-family-Archivo-Bold), sans-serif;
    font-weight: 800;
    text-align: center;
    max-width: 656px;
    line-height: 110%;
    transform: translateY(-25%);
    margin-bottom: 10px;
}

.production__description {
    font-family: var(--font-family-Inter), sans-serif;
    font-weight: 400;
    max-width: 700px;
    text-align: center;
    line-height: 150%;

}

.production-wrapper {
    display: flex;
    flex-direction: column;
}

.production__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    margin-bottom: 131px;
}

.production__card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.production__card-image {
    width: 100%;
    height: 211px;
    max-width: 351px;
    border-radius: 6px;
    margin-bottom: 35px;
}

.production__card-title {
    font-family: var(--font-family-Archivo-Bold), sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    max-width: 206px;
    margin-bottom: 25px;
}

.production__card-description {
    font-family: var(--font-family-Inter), sans-serif;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
}

/* Prints */
.prints {
    margin-top: 98px;
    margin-bottom: 317px;
}

.prints__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 84px;
}

.prints__title {
    text-align: center;
    max-width: 738px;
}

.prints__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 37px;
}

.prints__card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prints__card-image {
    width: 100%;
    max-width: 545px;
    height: 316px;
    border-radius: 6px;
    margin-bottom: 40px;
}

.prints__card-title {
    font-family: var(--font-family-Archivo-Bold), sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 23px;
}

.prints__card-description {
    font-family: var(--font-family-Inter), sans-serif;
    font-weight: 400;
    text-align: center;
    max-width: 540px;
    line-height: 150%;
}

/* Process */
.process {
    background-color: var(--color-dark-alternate);
    height: 901px;
}

.process__content-wrapper {
    position: relative;
    width: 100%;
    height: 350px;
    transform: translateY(-50%);
    border-radius: 15px;
    overflow: hidden;
}

.process__images {
    background-color: var(--color-dark-alternate);
}

.process__images .overlay {
    opacity: 0.7;
}

.process__image {
    object-fit: cover;

}

.process__content-title {
    font-family: var(--font-family-Archivo-Bold), sans-serif;
    font-weight: 800;
    position: absolute;
    top: 35%;
    left: 50%;
    translate: -50% -50%;
    z-index: 2;
    width: 100%;
    max-width: 540px;
    margin-bottom: 25px;
}

.process__content-description {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    translate: -50% -50%;
    z-index: 2;
    color: var(--color-light);
    line-height: 150%;
    width: 100%;
    max-width: 680px;
}

.process__title {
    color: var(--color-light);
}

.process__title:not(:last-child) {
    margin-bottom: 36px;
}

.process__description {
    color: var(--color-light);
    text-align: center;
}

.process__header:not(:last-child) {
    margin-bottom: 56px;
}

.process__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.process__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
}

.process__card-icon {
    position: relative;
    z-index: 1;
    margin-bottom: 32px;
}

.process__card-icon::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: #222222;
    width: 114px;
    height: 114px;
    border-radius: 50%;
    z-index: -1;
}

.process__card-description {
    text-align: center;
    max-width: 160px;
    color: var(--color-light);
}

.we-sew {
    margin-top: 125px;
    margin-bottom: 130px;
}

.we-sew__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}
.we-sew__title:not(:last-child) {
    margin-bottom: 73px;
}

.we-sew__description {
    text-align: center;
    max-width: 655px;
}

.we-sew__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 36px;
}

.we-sew__image {
    object-fit: cover;
}